<h1>Formulario</h1>
<form (ngSubmit)="onRegister()" #myForm="ngForm">
  <div class="input-group">
    <label for="name">Nombre</label>
    <input type="text" name="name" id="name" [(ngModel)]="register.name" required />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="email">Email</label>
    <input type="email" name="email" id="email" [(ngModel)]="register.email" required />
    <p>Mensaje de error</p>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" [(ngModel)]="register.password" required />
    <p>Mensaje de error</p>
  </div>
  <button [disabled]="myForm.invalid" type="submit">Registrar</button>
</form>
<hr />

<h1>NgClass & NgStyle</h1>
<input type="text" required #nameInput4="ngModel" [(ngModel)]="person.name" />
<hr class="line-error"
  [ngClass]="{
    'valid': nameInput4.valid,
    'invalid': nameInput4.invalid
  }"
/>
<p class="message-error" [class.invalid]="nameInput4.invalid">
  El campo es requerido
</p>
<div class="styles">
  <div>
    <input type="number" [(ngModel)]="box.width" />
    <input type="number" [(ngModel)]="box.height" />
    <input type="color" [(ngModel)]="box.background" />
  </div>
  <div>
    <div [ngStyle]="{
      'width.px': box.width,
      'height.px': box.height,
      'background-color': box.background,
      'display': 'block'
    }"
    ></div>
  </div>
</div>


<h1>Class & Style</h1>
<input type="text" required #nameInput2="ngModel" [(ngModel)]="person.name" />
<p class="message-error" [class.invalid]="nameInput2.invalid">
  El campo es requerido
</p>
<label>Nombre</label>
<input type="text" required #nameInput3="ngModel" [(ngModel)]="person.name" />
<p [style.font-style]="nameInput3.invalid ? 'italic' : 'normal'">
  Texto texto texto
</p>
<div class="styles">
  <div>
    <input type="text" [(ngModel)]="widthImg" />
  </div>
  <div>
    <img [style.width.px]="widthImg" [src]="person.avatar">
  </div>
</div>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'Robertino'; else elseBlock">Soy Robertino</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{ i }}{{ name }} <button (click)="deleteName(i)">-</button>
  </li>
</ul>
<h1>*ngFor Objs</h1>
<div class="products--grid">
  <div *ngFor="let product of products">
    <p>{{ product.name }}</p>
    <h2>{{ product.price }}</h2>
    <img [src]="product.image" alt="image">
  </div>
</div>
<h1>ngSwitch</h1>
<input type="text" required [(ngModel)]="person.name" />
<div [ngSwitch]="person.name">
  <p *ngSwitchCase="'nicolas'">
      La persona es Nicolas
  </p>
  <p *ngSwitchCase="'julian'">
    La persona es Julian
  </p>
  <p *ngSwitchCase="'camilo'">
    La persona es Camilo
  </p>
  <p *ngSwitchDefault>
      No hay ninguna persona
  </p>
</div>
<h1>ngModel</h1>
<p>Nombre: {{ person.name }}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" />
<p>Valid: {{ nameInput.valid }}</p>
<p>Nombre: {{ person.age }}</p>
<input type="number" max="30" min="18" required #ageInput="ngModel" [(ngModel)]="person.age" />
<p>Valid: {{ ageInput.valid }}</p>
<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Dolorem, unde quo enim omnis recusandae provident cupiditate
    placeat molestias ullam architecto officia perspiciatis sed
    sapiente sequi culpa assumenda error qui. At?</p>
</div>
<button [disabled]="habilitado">Button</button>
<button (click)="toggleButton()">Toggle button</button>
